@model PneuMalik.Models.EshopViewModel
@using PneuMalik.Models.Dto

<div id="stred">

    <h1>@Model.Cathegory.Title</h1>

    @Html.Raw(Model.Cathegory.Content)

</div>

@{ 

    var tips = new List<Product>();

    if (Model.Tips != null)
    {

        tips = Model.Tips.ToList();
    }

}

@Html.Partial("_Right", tips)