<div id="top">

    <p id="logo"><a href="/" title="Pneuservis Petr Malík"><img src="/img/logo.png" alt="Pneuservis Petr Malík" /></a></p>

    <div id="u_Hlavicka11_u_KosikInfo1_UDP1">


        <div class="topkosik">
            <p>
                <strong><a id="u_Hlavicka11_u_KosikInfo1_lbPrihlasit" href="javascript:__doPostBack(&#39;ctl00$u_Hlavicka11$u_KosikInfo1$lbPrihlasit&#39;,&#39;&#39;)">Přihlášení</a></strong> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                <strong><a id="u_Hlavicka11_u_KosikInfo1_hlRegistrovat" href="/nakup/registrace.aspx">Registrace</a></strong>
            </p>

            <p>
                <span id="u_Hlavicka11_u_KosikInfo1_lbUser">Uživatel</span>: <span id="u_Hlavicka11_u_KosikInfo1_User" class="wh">Nepřihlášený</span><br />
                <span id="u_Hlavicka11_u_KosikInfo1_lblKosik">Košík</span>:
                <strong><a id="u_Hlavicka11_u_KosikInfo1_hlKosik" class="wh" href="/nakup/kosik.aspx">bez položek</a></strong><br />
                <span id="u_Hlavicka11_u_KosikInfo1_lblCena">Cena</span>:
                <strong><a id="u_Hlavicka11_u_KosikInfo1_CenaNakupu" class="wh" href="/nakup/kosik.aspx">0,00 Kč</a></strong>
            </p>

            <div id="tkover">
                <p><img class="fr" onclick="document.getElementById('tkover').style.display='none';" src="/img/close.gif" alt="" /></p>
                <p>Váš e-mail: <br /><input name="ctl00$u_Hlavicka11$u_KosikInfo1$tbEmail" type="text" id="u_Hlavicka11_u_KosikInfo1_tbEmail" tabindex="1" class="boks" style="width:120px;" /></p>
                <p>
                    Vaše heslo: <br /><input type="submit" name="ctl00$u_Hlavicka11$u_KosikInfo1$Button1" value="Přihlásit" id="u_Hlavicka11_u_KosikInfo1_Button1" tabindex="3" class="fr enter" />
                    <input name="ctl00$u_Hlavicka11$u_KosikInfo1$tbHeslo" type="password" id="u_Hlavicka11_u_KosikInfo1_tbHeslo" tabindex="2" class="boks" style="width:120px;" /><br />
                    <a id="u_Hlavicka11_u_KosikInfo1_lbZapomenuteHeslo" tabindex="4" href="javascript:__doPostBack(&#39;ctl00$u_Hlavicka11$u_KosikInfo1$lbZapomenuteHeslo&#39;,&#39;&#39;)"><em>Zapomenuté heslo</em></a>
                </p>
                <p><em>Nemáte ještě vytvořen účet?</em> <strong><a id="u_Hlavicka11_u_KosikInfo1_hlRegistrovat2" tabindex="5" href="/nakup/registrace.aspx">Zaregistrovat</a></strong></p>
            </div>

        </div>


    </div>

    <p id="home"><a href="/" title="Pneuservis Petr Malík"><img src="/img/home.png" alt="Pneuservis Petr Malík" /></a></p>

    <ul id="menutop"><li><a href="/pneumatiky/nakup-u-nas.aspx" title="Nákup u nás">Nákup u nás</a></li><li><a href="/pneumatiky/nase-firma.aspx" title="Naše firma">Naše firma</a><ul><li><a href="/pneumatiky/cenik-praci.aspx" title="Ceník prací">Ceník prací</a></li><li><a href="/pneumatiky/odkazy.aspx" title="Odkazy">Odkazy</a></li></ul></li><li><a href="/pneumatiky/pruvodce.aspx" title="Průvodce">Průvodce</a></li><li><a href="/pneumatiky/obchodni-podminky.aspx" title="Obchodní podmínky">Obchodní podmínky</a></li><li><a href="/pneumatiky/zpusob-dopravy.aspx" title="Způsob dopravy">Způsob dopravy</a></li></ul>

</div>
