<div id="left">

    <ul class="menuvlevo"><li class="none"><a href="/pneumatiky/akcni-nabidka.aspx" title="Akční nabídka">Akční nabídka</a></li><li><a href="/pneumatiky/pneumatiky.aspx" title="Pneumatiky">Pneumatiky</a><ul><li><a href="/pneumatiky/osobni-offroad-4x4-suv.aspx" title="Osobní, offroad, 4x4, SUV">Osobní, offroad, 4x4, SUV</a></li><li><a href="/pneumatiky/uzitkove-zatezove-c.aspx" title="Užitkové zátěžové " C"">Užitkové zátěžové "C"</a></li><li><a href="/pneumatiky/nakladni.aspx" title="Nákladní">Nákladní</a></li><li><a href="/pneumatiky/industrialni-a-prumyslove.aspx" title="Industriální a Průmyslové">Industriální a Průmyslové</a></li><li><a href="/pneumatiky/motopneu.aspx" title="Motopneu">Motopneu</a></li><li><a href="/pneumatiky/zemedelske.aspx" title="Zemědělské">Zemědělské</a></li><li><a href="/pneumatiky/atv.aspx" title="ATV">ATV</a></li><li><a href="/pneumatiky/duse-a-motovlozky.aspx" title="Duše a motovložky">Duše a motovložky</a></li></ul></li><li><a href="/pneumatiky/lita-kola--konfigurator.aspx" title="Litá kola - KONFIGURÁTOR">Litá kola - KONFIGURÁTOR</a></li><li><a href="/pneumatiky/hlinikove-disky.aspx" title="Hliníkové disky">Hliníkové disky</a></li><li><a href="/pneumatiky/ocelove-disky.aspx" title="Ocelové disky">Ocelové disky</a></li><li><a href="/pneumatiky/prislusenstvi.aspx" title="Příslušenství">Příslušenství</a><ul><li><a href="/pneumatiky/startovaci-baterie-brit.aspx" title="Startovací baterie BRIT">Startovací baterie BRIT</a></li><li><a href="/pneumatiky/startovaci-baterie-exide.aspx" title="Startovací baterie EXIDE">Startovací baterie EXIDE</a></li></ul></li></ul>

    <div class="lboxgr">
        <div class="lbgr">
            <div class="lbg">

                <p><strong>Pneuservis Petr Malík</strong></p>
                <p>Litovická 779<br />25301 Hostivice<br />okr. Praha-Západ</p>
                <p>Tel: 220 981 172<br />602 355 775<br />e-mail: guma@c-box.cz</p>

            </div>
        </div>
    </div>

    <p align="center"><img src="http://www.pneumalik.cz/images/image/banner-firststop/firststop-banner.jpg" alt="Akce Firststop" /></p>

</div>
