<div id="right">

    <div id="right2">
        <h2><u>Svátky 1,Máje</u></h2>
        <p><span style="color: rgb(0, 0, 0);"><strong>Pondělí 01.05.</strong>. &#160;&#160;<span style="color: rgb(255, 0, 0);"><span style="font-size: medium;">&#160;</span><u><strong><span style="font-size: medium;">Zavřeno</span></strong></u></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><strong>Pondělí 08.05.</strong></span><strong>&#160;</strong>&#160; &#160;.<u><strong><span style="color: rgb(255, 0, 0);"><span style="font-size: larger;">Zavřeno</span></span></strong></u></p>
        <p><font color="#000000"><b>&#160;</b></font></p>
        <h2>&#160;</h2>
        <h2><strong style="color: rgb(0, 0, 0); font-size: 16px;"><u>PROVOZNÍ DOBA</u></strong></h2>
        <p class="MsoNormal" style="text-align: left;">
            <br />
            <strong>
                Pondělí - Čtvrtek<br />
                8.00 - 18,00 hod
            </strong>
        </p>
        <p class="MsoNormal" style="text-align: left;">
            <b>Pátek:8,00-17hod</b><br />
            <strong>
                Sobota:<br />
                8.00 - 12,00hod
            </strong><br />
            <br />
            <strong>
                <span style="color: rgb(255, 0, 0);">Polední přestávka:</span><span style="color: rgb(255, 0, 0);">
                    <br />
                    12.00 - 13.00 hod
                </span>
            </strong>
        </p>
        <p>&#160;<img src="/images/image/lada%20jaro/Lada%20jaro.jpg" width="170" height="233" alt="" /></p>
        <p>&#160;</p>
    </div>

    <div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-9652-rhawk.aspx" title="Firestone RHAWK"><strong>Firestone RHAWK</strong></a></p><p>195/65 R15 </p><p><a href="/pneumatika/150-9652-rhawk.aspx" title="Firestone RHAWK"><img src="/images/nahled/RHawk.jpeg" alt="Firestone RHAWK 195/65 R15 " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1100,00 Kč</strong></p><p class="grn"><strong>SKLADEM</strong></p></div></div><div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-9959-t001-evo.aspx" title="BRIDGESTONE T001 EVO"><strong>BRIDGESTONE T001 EVO</strong></a></p><p>205/55 R16  </p><p><a href="/pneumatika/150-9959-t001-evo.aspx" title="BRIDGESTONE T001 EVO"><img src="/images/nahled/BRIDGESTONE T001EVO.jpg" alt="BRIDGESTONE T001 EVO 205/55 R16  " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1670,00 Kč</strong></p></div></div><div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-9649-roadhawk.aspx" title="FIRESTONE ROADHAWK"><strong>FIRESTONE ROADHAWK</strong></a></p><p>205/55 R16  </p><p><a href="/pneumatika/150-9649-roadhawk.aspx" title="FIRESTONE ROADHAWK"><img src="/images/nahled/FIRESTONE ROADHAWK.jpg" alt="FIRESTONE ROADHAWK 205/55 R16  " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1350,00 Kč</strong></p></div></div><div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-t429712-nokian-line.aspx" title="Nokian Nokian Line"><strong>Nokian Nokian Line</strong></a></p><p>195/65 R15  </p><p><a href="/pneumatika/150-t429712-nokian-line.aspx" title="Nokian Nokian Line"><img src="/images/nahled/nokian-h.jpg" alt="Nokian Nokian Line 195/65 R15  " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1228,00 Kč</strong></p><p class="grn"><strong>SKLADEM</strong></p></div></div><div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-9959-t001-evo.aspx" title="BRIDGESTONE T001 EVO"><strong>BRIDGESTONE T001 EVO</strong></a></p><p>205/55 R16  </p><p><a href="/pneumatika/150-9959-t001-evo.aspx" title="BRIDGESTONE T001 EVO"><img src="/images/nahled/BRIDGESTONE T001EVO.jpg" alt="BRIDGESTONE T001 EVO 205/55 R16  " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1670,00 Kč</strong></p></div></div><div class="rbox"><p class="rbnadp">Náš TIP</p><p class="f14"><a class="carm" href="/pneumatika/150-9480-touring-2.aspx" title="DAYTON TOURING 2"><strong>DAYTON TOURING 2</strong></a></p><p>205/55 R16  </p><p><a href="/pneumatika/150-9480-touring-2.aspx" title="DAYTON TOURING 2"><img src="/images/nahled/DAYTON TOURING2.jpg" alt="DAYTON TOURING 2 205/55 R16  " /></a></p><div class="rb"><p><img src="/img/osobni.png" alt="Osobní" /> <img src="/img/letni.png" alt="Léto" /></p><p class="f17 blue"><strong>1299,00 Kč</strong></p><p class="grn"><strong>SKLADEM</strong></p></div></div>

    <div id="right2"><br>ceny jsou platné při objednávání přes internet</div>

</div><div class="cleaner"><hr /></div>
