<h1>Aktualizace</h1>

@using (Html.BeginForm("DoActualization", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <p>Zdrojový soubor: <span class="help">?</span> <input type="file" id="actualization-file" name="file" accept=".csv" /></p>
    <input type="submit" value="Potvrdit" />
}