<h1>Import XML</h1>

@using (Html.BeginForm("DoImport", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <p>Strukturovaný XML soubor: <input type="file" id="import-file" name="file" accept=".xml" /></p>
    <input type="submit" value="Potvrdit" />
}