<h1>Import XML z Pneu B2B</h1>

@using (Html.BeginForm("DoImportFromFile", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <p>Strukturovaný XML soubor:</p>
            <input style="width: initial; display: initial;" class="form-control" type="file" id="import-file" name="file" accept=".xml" />
            <input class="btn btn-default" type="submit" value="Potvrdit" />
        </div>
    </div>
}

<div class="form-horizontal">
    <div class="form-group">
        <p>Aktualizace skladu a cen:</p>
        <input class="btn btn-default" type="submit" value="Spustit" id="doStockImportButton" />
        <span id="stockImportStatus"></span>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <p>Aktualizace kompletního sortimentu:</p>
        <input class="btn btn-default" type="submit" value="Spustit" id="doFullImportButton" />
        <span id="fullImportStatus"></span>
    </div>
</div>

<script src="~/Scripts/admin/importxml.js"></script>

