@{
    ViewBag.Title = "Petr Malík - Pneuservis, Administrace";
}

<div class="jumbotron">
    <h1>Petr Malík - Pneuservis</h1>
    <p class="lead">Vítejte v administračním modulu e-shopu.</p>
</div>