@using PneuMalik.Models

@model EshopViewModel

<div id="stred">

    <h1>Litá kola - KONFIGURÁTOR</h1>

    <div class="cleaner"><hr></div>
    <hr />

    <div class="tab">
        <table>
            <tr>
                <td>ZNAČKA VOZIDLA:</td>
                <td><asp:DropDownList ID="ddlBrands" Width="200" runat="server" CssClass="select"></asp:DropDownList></td>
            </tr>
            <tr id="trConfig2" style="display: none;">
                <td>MODELOVÁ ŘADA:</td>
                <td><asp:DropDownList ID="ddlTypes" Width="200" runat="server" CssClass="select"></asp:DropDownList></td>
            </tr>
            <tr id="trConfig3" style="display: none;">
                <td>PROVEDENÍ:</td>
                <td><asp:DropDownList ID="ddlModels" Width="200" runat="server" CssClass="select"></asp:DropDownList></td>
            </tr>
            <tr id="trConfig4" style="display: none;">
                <td>ROZMĚR KOLA:</td>
                <td><asp:DropDownList ID="ddlRozmer" Width="200" runat="server" CssClass="select"></asp:DropDownList></td>
            </tr>
        </table>
    </div>

</div>

@Html.Partial("_Right", Model.Tips)