@using PneuMalik.Models

@model EshopViewModel

@Scripts.Render("~/Scripts/configurator.js")

<div id="stred">

    <h1>Litá kola - KONFIGURÁTOR</h1>

    <div class="cleaner"><hr></div>
    <hr />

    <div class="tab configurator">
        <table>
            <tr>
                <td>ZNAČKA VOZIDLA:</td>
                <td><select id="select-brand"></select></td>
            </tr>
            <tr id="tr-types" style="display: none;">
                <td>MODELOVÁ ŘADA:</td>
                <td><select id="select-types"></select></td>
            </tr>
            <tr id="tr-models" style="display: none;">
                <td>PROVEDENÍ:</td>
                <td><select id="select-models"></select></td>
            </tr>
            <tr id="tr-sizes" style="display: none;">
                <td>ROZMĚR KOLA:</td>
                <td><select id="select-sizes"></select></td>
            </tr>
        </table>
    </div>

    <div id="configurator-results"></div>

</div>

@Html.Partial("_Right", Model.Tips)