@using PneuMalik.Models

@model EshopViewModel

@{
    var totalPrice = Model.Cart.Sum(s => s.PriceTmp * s.Count);
}

@Scripts.Render("~/Scripts/validation.js?v=1.0")

<div id="kosik">

    <div class="boxkosik">

        <p><strong>Objednávka</strong> - krok 1/3</p>

        <p class="kzalthis">Osobní a dodací údaje</p>
        <p><img class="fl" src="/img/kzalsipka.png" alt=""></p>
        <p class="kzal">Doprava a platba</p>
        <p><img class="fl" src="/img/kzalsipka.png" alt=""></p>
        <p class="kzal">Souhrn a odeslání</p>
        <div class="cleaner"><hr></div>

        <h1>Osobní a dodací údaje:</h1>

        <div id="mainContent_UDP1">
            <form method="post" action="/eshop/register" id="order-step-1">

                <table cellspacing="0" class="tabzak">
                    <tbody>
                        <tr>
                            <td id="td1" class="this"><a id="mainContent_lbJednorazovy" href="javascript:directionChange(1);">Jednorázový nákup bez registrace</a></td>

                            <td id="td2"><a id="mainContent_lbRegistrace" href="javascript:directionChange(2);">Registrace nového zákazníka</a></td>

                            <td id="td3"><a id="mainContent_lbPrihlaseni" href="javascript:directionChange(3);">Přihlášení registrovaného zákazníka</a></td>


                        </tr>
                    </tbody>
                </table>

                <div class="tabobal">

                    <div id="zak1">

                        <table cellspacing="0" class="tabdata">
                            <tbody>
                                <tr>
                                    <td width="65">Jméno:</td>
                                    <td><input name="JmenoNoreg" type="text" id="JmenoNoreg" class="boks" onblur="validateRequiedField('JmenoNoreg', 'mainContent_imgJmenoNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgJmenoNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td width="50">Příjmení:</td>
                                    <td><input name="PrijmeniNoreg" type="text" id="PrijmeniNoreg" class="boks" onblur="validateRequiedField('PrijmeniNoreg', 'mainContent_imgPrijmeniNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgPrijmeniNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td width="30"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Váš e-mail:</td>
                                    <td><input name="EmailNoreg" type="text" id="EmailNoreg" class="boks" onblur="validateRegexField('EmailNoreg', 'mainContent_imgEmailNoreg', 'OK', 'E-mailová adresa není ve správném tvaru. Příklad: j.novak@seznam.cz', 'email');"> <img id="mainContent_imgEmailNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Telefon:</td>
                                    <td><input name="TelefonNoreg" type="text" id="TelefonNoreg" class="boks" onblur="validateRegexField('TelefonNoreg', 'mainContent_imgTelefonNoreg', 'OK', 'Telefonní číslo není ve správném tvaru. Příklad: 777 123 456', 'phone');"> <img id="mainContent_imgTelefonNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><strong>Fakturační adresa:</strong></td>
                                </tr>
                                <tr>
                                    <td>Ulice, č.p.:</td>
                                    <td><input name="UliceNoreg" type="text" id="UliceNoreg" class="boks" onblur="validateRequiedField('UliceNoreg', 'mainContent_imgUliceNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgUliceNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Město/Obec:</td>
                                    <td><input name="MestoNoreg" type="text" id="MestoNoreg" class="boks" onblur="validateRequiedField('MestoNoreg', 'mainContent_imgMestoNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgMestoNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>PSČ:</td>
                                    <td><input name="PSCNoreg" type="text" id="PSCNoreg" class="boks" onblur="validateRegexField('PSCNoreg', 'mainContent_imgPSCNoreg', 'OK', 'PSČ není ve správném tvaru. Příklad: 561 23 nebo 56123', 'zip');"> <img id="mainContent_imgPSCNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>
                                <tr>
                                    <td>Stát:</td>
                                    <td><input name="StatNoreg" type="text" value="Česká republika" id="StatNoreg" class="boks" onblur="validateRequiedField('StatNoreg', 'mainContent_imgStatNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgStatNoreg" title="OK" src="/img/yes.png" alt="OK"></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><input id="chbFirmaNoreg" type="checkbox" name="chbFirmaNoreg" onclick="nakupNaFirmu('chbFirmaNoreg', 'firemni1noreg')"> Nákup na firmu</td>
                                </tr>

                                <tr id="firemni1noreg" style="display: none;">
                                    <td>Název firmy:</td>
                                    <td><input name="FirmaNoreg" type="text" id="FirmaNoreg" class="boks" onblur="validateRequiedField('FirmaNoreg', 'mainContent_imgFirmaNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgFirmaNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>IČ:</td>
                                    <td><input name="ICNoreg" type="text" id="ICNoreg" class="boks" onblur="validateRequiedField('ICNoreg', 'mainContent_imgICNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgICNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>DIČ:</td>
                                    <td><input name="DICNoreg" type="text" id="DICNoreg" class="boks" onblur="validateRequiedField('DICNoreg', 'mainContent_imgDICNoreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgDICNoreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>

                                <tr>
                                    <td colspan="6"><input id="DodaciNoreg" type="checkbox" name="DodaciNoreg" checked="checked" onclick="dodaciAdresaStejna('DodaciNoreg', 'noreg')"> Dodací adresa je stejná s fakturační</td>
                                </tr>
                                <tr id="adresa2anoreg" style="display: none;">
                                    <td colspan="6"><strong>Dodací adresa:</strong></td>
                                </tr>
                                <tr id="adresa2bnoreg" style="display: none;">
                                    <td>Jméno:</td>
                                    <td><input name="Jmeno2Noreg" type="text" id="Jmeno2Noreg" class="boks" onblur="validateRequiedField('Jmeno2Noreg', 'mainContent_imgJmeno2Noreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgJmeno2Noreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr id="adresa2cnoreg" style="display: none;">
                                    <td>Ulice, č.p.:</td>
                                    <td><input name="Ulice2Noreg" type="text" id="Ulice2Noreg" class="boks" onblur="validateRequiedField('Ulice2Noreg', 'mainContent_imgUlice2Noreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgUlice2Noreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Město/Obec:</td>
                                    <td><input name="Mesto2Noreg" type="text" id="Mesto2Noreg" class="boks" onblur="validateRequiedField('Mesto2Noreg', 'mainContent_imgMesto2Noreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgMesto2Noreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>PSČ:</td>
                                    <td><input name="PSC2Noreg" type="text" id="PSC2Noreg" class="boks" onblur="validateRegexField('PSC2Noreg', 'mainContent_imgPSC2Noreg', 'OK', 'PSČ není ve správném tvaru. Příklad: 561 23 nebo 56123', 'zip');"> <img id="mainContent_imgPSC2Noreg" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>
                                <tr id="adresa2dnoreg" style="display: none;">
                                    <td>Stát:</td>
                                    <td><input name="Stat2Noreg" type="text" value="Česká republika" id="Stat2Noreg" class="boks" onblur="validateRequiedField('Stat2Noreg', 'mainContent_imgStat2Noreg', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgStat2Noreg" title="OK" src="/img/yes.png" alt="OK"></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>


                            </tbody>
                        </table>

                    </div>

                    <div id="zaknew" style="display: none;">

                        <table cellspacing="0" class="tabdata">
                            <tbody>
                                <tr>
                                    <td width="65">Jméno:</td>
                                    <td><input name="Jmeno" type="text" id="Jmeno" class="boks" onblur="validateRequiedField('Jmeno', 'mainContent_imgJmeno', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgJmeno" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td width="50">Příjmení:</td>
                                    <td><input name="Prijmeni" type="text" id="Prijmeni" class="boks" onblur="validateRequiedField('Prijmeni', 'mainContent_imgPrijmeni', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgPrijmeni" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td width="30"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Váš e-mail:</td>
                                    <td><input name="Email" type="text" id="Email" class="boks" onblur="validateRegexField('Email', 'mainContent_imgEmail', 'OK', 'E-mailová adresa není ve správném tvaru. Příklad: j.novak@seznam.cz', 'email');"> <img id="mainContent_imgEmail" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Telefon:</td>
                                    <td><input name="Telefon" type="text" id="Telefon" class="boks" onblur="validateRegexField('Telefon', 'mainContent_imgTelefon', 'OK', 'Telefonní číslo není ve správném tvaru. Příklad: 777 123 456', 'phone');"> <img id="mainContent_imgTelefon" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Heslo:<input type="hidden" name="hidHeslo1" id="hidHeslo1" value=""></td>
                                    <td><input name="Heslo" type="password" id="Heslo" class="boks" onblur="validateRequiedField('Heslo', 'mainContent_imgHeslo', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgHeslo" title="OK" src="/img/yes.png" alt="OK"></td>
                                    <td>Heslo (kontrola):<input type="hidden" name="hidHeslo2" id="hidHeslo2" value=""></td>
                                    <td><input name="Heslo2" type="password" id="Heslo2" class="boks" onblur="validateCompareField('Heslo2', 'Heslo', 'mainContent_imgHeslo2', 'OK', 'Hesla se neshodují.');"> <img id="mainContent_imgHeslo2" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><strong>Fakturační adresa:</strong></td>
                                </tr>
                                <tr>
                                    <td>Ulice, č.p.:</td>
                                    <td><input name="Ulice" type="text" id="Ulice" class="boks" onblur="validateRequiedField('Ulice', 'mainContent_imgUlice', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgUlice" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Město/Obec:</td>
                                    <td><input name="Mesto" type="text" id="Mesto" class="boks" onblur="validateRequiedField('Mesto', 'mainContent_imgMesto', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgMesto" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>PSČ:</td>
                                    <td><input name="PSC" type="text" id="PSC" class="boks" onblur="validateRegexField('PSC', 'mainContent_imgPSC', 'OK', 'PSČ není ve správném tvaru. Příklad: 561 23 nebo 56123', 'zip');"> <img id="mainContent_imgPSC" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>
                                <tr>
                                    <td>Stát:</td>
                                    <td><input name="Stat" type="text" value="Česká republika" id="bStat" class="boks" onblur="validateRequiedField('Stat', 'mainContent_imgStat', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgStat" title="OK" src="/img/yes.png" alt="OK"></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><input id="chbFirma" type="checkbox" name="chbFirma" onclick="nakupNaFirmu('chbFirma', 'firemni1')"> Nákup na firmu</td>
                                </tr>
                                <tr id="firemni1" style="display: none;">
                                    <td>Název firmy:</td>
                                    <td><input name="Firma" type="text" id="Firma" class="boks" onblur="validateRequiedField('Firma', 'mainContent_imgFirma', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgFirma" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>IČ:</td>
                                    <td><input name="IC" type="text" id="IC" class="boks" onblur="validateRequiedField('IC', 'mainContent_imgIC', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgIC" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>DIČ:</td>
                                    <td><input name="DIC" type="text" id="DIC" class="boks" onblur="validateRequiedField('DIC', 'mainContent_imgDIC', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgDIC" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>

                                <tr>
                                    <td colspan="6"><input id="Dodaci" type="checkbox" checked="checked" name="Dodaci" onclick="dodaciAdresaStejna('Dodaci', '')"> Dodací adresa je stejná s fakturační</td>
                                </tr>
                                <tr id="adresa2d" style="display: none;">
                                    <td colspan="6"><strong>Dodací adresa:</strong></td>
                                </tr>

                                <tr id="adresa2a" style="display: none;">
                                    <td>Jméno:</td>
                                    <td><input name="Jmeno2" type="text" id="Jmeno2" class="boks" onblur="validateRequiedField('Jmeno2', 'mainContent_imgJmeno2', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgJmeno2" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>

                                <tr id="adresa2b" style="display: none;">
                                    <td>Ulice, č.p.:</td>
                                    <td><input name="Ulice2" type="text" id="Ulice2" class="boks" onblur="validateRequiedField('Ulice2', 'mainContent_imgUlice2', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgUlice2" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>Město/Obec:</td>
                                    <td><input name="Mesto2" type="text" id="Mesto2" class="boks" onblur="validateRequiedField('Mesto2', 'mainContent_imgMesto2', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgMesto2" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                    <td>PSČ:</td>
                                    <td><input name="PSC2" type="text" id="PSC2" class="boks" onblur="validateRegexField('PSC2', 'mainContent_imgPSC2', 'OK', 'PSČ není ve správném tvaru. Příklad: 561 23 nebo 56123', 'zip');"> <img id="mainContent_imgPSC2" title="Tuto hodnotu je nutno vyplnit." src="/img/no.png" alt="Tuto hodnotu je nutno vyplnit."></td>
                                </tr>

                                <tr id="adresa2c" style="display: none;">
                                    <td>Stát:</td>
                                    <td><input name="Stat2" type="text" value="Česká republika" id="Stat2" class="boks" onblur="validateRequiedField('Stat2', 'mainContent_imgStat2', 'OK', 'Tuto hodnotu je nutno vyplnit.');"> <img id="mainContent_imgStat2" title="OK" src="/img/yes.png" alt="OK"></td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div id="zakreg" style="display:none;">

                        <table cellspacing="0" class="tabdata">
                            <tbody>
                                <tr>
                                    <td width="120">Přihlašovací jméno:</td>
                                    <td><input name="Login" type="text" id="Login" class="boks"></td>
                                    <td width="50">&nbsp;</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td width="120">Heslo:</td>
                                    <td><input name="Pass" type="password" id="Pass" class="boks"></td>
                                    <td width="50">&nbsp;</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <input name="hidSmer" type="hidden" id="hidSmer" value="1">
                    <input name="hidUserInit" type="hidden" id="hidUserInit" value="">

                    <p class="tkpokr"><a id="mainContent_lbPokracovat" href="javascript:Step1Continue()">Pokračovat &gt;</a></p>
                    <p class="tkzpet"><a href="/eshop/kosik" title="zpět na košík">&lt; Zpět na košík</a></p>

                    <div class="cleaner"><hr></div>

                </div>

            </form>
        </div>

    </div>

</div>